<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
    crossorigin="anonymous">

    <title>Secure check page</title>
  </head>
  <body>
   <div class="container">
  	<h1>This is a check page!</h1>
  	
	<p><a href="/" th:href="@{/}">Back to home page</a></p>
	<p><a href="#" th:href="@{/logout}">Logout</a></p>
</div>
  
  
    <!-- Bootstrap Bundle with Popper -->
