<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
    crossorigin="anonymous">

	<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
    <title>Secure Homepage</title>
  </head>
  <body>
      <nav th:insert="fragments/nav.html :: nav"></nav>
  
	<div class="container-fluid bg-light">
    	<div class="col-sm-3"></div> 
    	<div class="col-sm-6">
		
			<table class="table table-striped" 
					th:if="${scheduleList != null AND scheduleList != ''}">
			
			  <thead>
			  
			    <tr >			    		      
			      <th scope="col">Time</th>
			      <th scope="col">Class Name</th>
			      <th scope="col">Price</th>			 		     
			      <th scope="col">Gym</th>			 		     
			      <th scope="col">Room</th>			 		     
			    </tr>
			    
			  <tbody>			  
			    <tr th:each="s : ${scheduleList}">			    
			      <td th:text="${s.scheduleTime}">Egg</td>
			      <td th:text="${s.className}">For breakfast</td>
			      <td th:text="${s.classPrice}">5</td>			      
			      <td th:text="${s.locName}">5</td>			      
			      <td th:text="${s.roomName}">5</td>
			      			      
			    </tr>			    
	   		 </table>
	   		 	

   		 </div>
   		<!-- <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-sm-3">
	    	<form method ="post" action="" th:action="@{/secure/addSchedule}" th:object=${schedule}>
	   
			   	<div class="form-group gt-3">
			   	
			   		<div class="row">
			   				   			  			
			   			<div class="col-md-6 form-group">
			   				
			   				<input type="hidden" name="scheduleId" th:field="*{scheduleId}" />	
			   					   			
				   			<label for="scheduleDate" class="form-label">Date</label>
				   			<input type="date" class="form-control" th:field="*{scheduleDate}" />
				   			
				   			<label for="scheduleTime" class="form-label">Time</label>
				   			<input type="time" class="form-control" th:field="*{scheduleTime}" />
				   			
				   			<label for="className" class="form-label">Phone</label>
				   			<input type="text" class="form-control" th:field="*{className}" />
				   				   			
				   			<label for="classPrice" class="form-label">Email</label>
				   			<input type="number" class="form-control" th:field="*{classPrice}" />

				   			<label for="locName" class="form-label">Phone</label>
				   			<input type="text" class="form-control" th:field="*{locName}" />

				   			<label for="roomName" class="form-label">Phone</label>
				   			<input type="text" class="form-control" th:field="roomName" />				  					   			
				  		</div>	
			   				
			   		</div>
			   	</div>

			   		   				   		
			   		<br />
			   		
			   		<div class="button">
								
						<button type="submit" class="btn btn-primary">Add!</button>
								
					</div>
					
			</form>
   		 </div>
		    -->
		   <p><a href="/secure" class="btn btn-secondary active" role="button" aria-pressed="true">Return to home</a></p><br />
				<p><a href="#" th:href="@{/logout}">Logout</a></p>	
    	
	</div>
	
	<footer th:replace="fragments/footer.html :: footer"></footer>
   

	
  
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
    crossorigin="anonymous"></script>
  </body>
</html>
